# Виртуальное окружение
.venv/
venv/
env/
bin/
lib64/
include/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Временные файлы DSSP и PDB (если они создаются в корне)
*.dssp
*.pdb
*.tmp

# Системные файлы
.DS_Store
Thumbs.db
.vscode/
.idea/

# Словарь компонентов (если ты его скачивала)
components.cif
components.cif.gz

# --- ВАЖНО: Твой бинарник mkdssp НЕ должен быть в игноре ---
# Мы явно разрешаем его, даже если папка bin/ в игноре
!mkdssp
